[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
flake8 = "*"
mypy = "*"
yapf = "*"

[packages]
flask = "*"
requests-ntlm = "*"
toml = "*"
yapf = "*"
boto3 = "*"
flask-sqlalchemy = "*"

[requires]
python_version = "3.7"

[scripts]
type = "mypy --ignore-missing-imports --strict ."
lint = "flake8 ."
format = "yapf -i -r ."
